POSTGRES_DB=weatherapp
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather123

CONNECTION_STRING=Host=postgres;Database=weatherapp;Username=weather;Password=weather123

OPENWEATHER_API_KEY=
WEATHER_PROVIDER=mock
